.pl1{padding-left:1em;}
        .pl2{padding-left:2em;}
        .pl3{padding-left:3em;}
        .pl4{padding-left:4em;}
        .pl5{padding-left:5em;}

        .outline-content {
            counter-reset: outline-h2;
        }
        .outline-h1 {
            counter-reset: outline-h2;
        }
        .outline-h2 {
            counter-reset: outline-h3;
        }
        .outline-h3 {
            counter-reset: outline-h4;
        }
        .outline-h4 {
            counter-reset: outline-h5;
        }
        .outline-h5 {
            counter-reset: outline-h6;
        }
        .outline-h2:before {
            counter-increment: outline-h2;
            content: counter(outline-h2) '. ';
        }

        .outline-h3:before {
            counter-increment: outline-h3;
            content: counter(outline-h2) '.'counter(outline-h3) '. ';
        }

        .outline-h4:before {
            counter-increment: outline-h4;
            content: counter(outline-h2) '.'counter(outline-h3) '.'counter(outline-h4) '. ';
        }

        .outline-h5:before {
            counter-increment: outline-h5;
            content: counter(outline-h2) '.'counter(outline-h3) '.'counter(outline-h4) '.'counter(outline-h5) '. ';
        }

        .outline-h6:before {
            counter-increment: outline-h6;
            content: counter(outline-h2) '.'counter(outline-h3) '.'counter(outline-h4) '.'counter(outline-h5) '.'counter(outline-h6) '. ';
        }
